@using bunqAggregation.Common
@using bunqAggregation.Models
@model AccountsModel
@{
    ViewData["Title"] = "Add bunqConnection";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - bunqAggregation</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <img id="qrcode" src="@Model.QRCode"/>
        <div id="validating">
            bunqAggregation is waiting for acceptance of the Connect...
        </div>
        <div id="completed" style="display: none">
            bunqAggregation - is connected with:<br><br>
            <span id="description"></span><br>
            <span id="iban"></span>
        </div>
        <div id="error" style="display: none">
            bunqAggregation - an error has occurred: <span id="message"></span>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script language="javascript">
            function checkstatus() {
                url = "@Settings.ServiceUrl/api/accounts/status";
                data = {
                    "draftid" : @Model.DraftId
                };
    
                console.log(data);
                
                var request = $.ajax({
                    url : url,
                    method : "POST",
                    data : JSON.stringify(data),
                      contentType : "application/json"
                });

                request.done(function(values,statusText,jqXHR) {
                    console.log(values);
                    if (typeof values["data"] != "undefined") {
                        $("#description").append(values["data"]["description"]);
                        $("#iban").append(values["data"]["iban"]);
                        $("#qrcode").hide();
                        $("#validating").hide();
                        $("#completed").show();
                        location.hash = "completed";
                    }
                    if (typeof values["error"] != "undefined") {
                        $("#message").append(values["error"]["message"]);
                        $("#qrcode").hide();
                        $("#validating").hide();
                        $("#error").show();
                    }
                }); 

                request.fail(function(values,statusText,jqXHR) {
                });
                
            };
            checkstatus();
            </script>
    </body>
</html>